@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: "Outfit", serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}

.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    /* Đảm bảo navbar không thay đổi khi màn hình nhỏ */
    width: 100%;
    background-color: white;
  }

  /* Các phần tử khác có thể điều chỉnh theo nhu cầu */
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    /* Có thể thay thế bằng một sidebar hoặc điều chỉnh các phần tử */
  }
}


html,
body {
  min-width: 600px;
  overflow-x: hidden;
}